/*




* ********** Border Radius ***********

* @include borderRadius(5px);
* 
* @include borderRadiusposition(5px, 5px, 5px, 5px);
* 
* @include bordercolor(#e8ae1a, #76cd9c, #a60b55, #333);
* 
* @include borderStyle(solid, dashed, double, none);
* 
* ************ transition ****************
* 
* @include transitionAll(all, 0.5s, linear);
* 
* @include transitions();
* 
* @include transitionTime(0.5s);
* 
* @include transition(0.5s);
* 
* @include transitionProperty(all);
* 
* ************ scale *************
* 
* @include scale(1.5, 1.5);
* 
* @include scaleX(1.5);
* 
* @include scaleY(1.5);
* 
* ************ rotate ***************
* 
* @include rotate(10deg);
*
* @include rotateY(10deg);
*
* @include rotateX(10deg);
*
* @include rotateZ(10deg);
* 
* *************** translate **************
*
* @include translate(10px, 10px);
*
* @include translateX(10px);
*
* @include translateY(10px);
*
* @include translateZ(10px);
* 
* *********** skew *********
*
* @include skew(0deg, 0deg);
*
* @include skewX(0deg);
*
* @include skewY(0deg);
* 
* *************** matrix ***********
*
* @include matrix( 1, 0, 0, 1, 0, 0 );
* 
* * $translateX, $translateY, $scaleX, $skewY, $skewX ,$scaleY
* 
* ******** Box shadow **************
*
* @include boxShadow(-1px, 0px, 10px, #000);
* 
* ************ hover ************
* 
* @include hover {};
* 
*  ************** ul *****************
* 
* @include reset-list;
* 
*  *** li ***
* 
* @include horizontal-list;
* 
* ************ media ************
* 
* @include xs-media{}
* 
* @include sm-media{}
* 
* @include sm-md-media{}
* 
* @include md-media{}
* 
* @include md-lg-media{}
*
* @include lg-media{}
* 
* @include mq(1500px, 1900px) {}
*
* ************* overlay ************
* 
* @include overlay;
* 
* 
* ********** prefix ******************
* 
* @include prefix(box-shadow, 10px 10px 10px #ccc, webkit moz o ms);
* 
* ************ opacity ****************
* 
* @include opacity(0.5);
* 
* 
* ************ flex center *********
* 
* @include flexCenter;
*  
*  ************ position Center ******************
*  
*  @include positionCenter;
*  
*  
* *********** clear fix  for float ************* 
*  
*  @include clearfix;
*  
*  
*  
*/
.col-my-left-12, .col-my-left-11, .col-my-left-10, .col-my-left-9, .col-my-left-8, .col-my-left-7, .col-my-left-6, .col-my-left-5, .col-my-left-4, .col-my-left-3, .col-my-left-2, .col-my-left-1 {
  float: left;
  padding: 10px;
}
.col-my-left-12::after, .col-my-left-11::after, .col-my-left-10::after, .col-my-left-9::after, .col-my-left-8::after, .col-my-left-7::after, .col-my-left-6::after, .col-my-left-5::after, .col-my-left-4::after, .col-my-left-3::after, .col-my-left-2::after, .col-my-left-1::after {
  content: "";
  display: block;
  clear: both;
}

.col-my-left-1 {
  width: 8.3333333333%;
}

.col-my-left-2 {
  width: 16.6666666667%;
}

.col-my-left-3 {
  width: 25%;
}

.col-my-left-4 {
  width: 33.3333333333%;
}

.col-my-left-5 {
  width: 41.6666666667%;
}

.col-my-left-6 {
  width: 50%;
}

.col-my-left-7 {
  width: 58.3333333333%;
}

.col-my-left-8 {
  width: 66.6666666667%;
}

.col-my-left-9 {
  width: 75%;
}

.col-my-left-10 {
  width: 83.3333333333%;
}

.col-my-left-11 {
  width: 91.6666666667%;
}

.col-my-left-12 {
  width: 100%;
}

.col-my-right-12, .col-my-right-11, .col-my-right-10, .col-my-right-9, .col-my-right-8, .col-my-right-7, .col-my-right-6, .col-my-right-5, .col-my-right-4, .col-my-right-3, .col-my-right-2, .col-my-right-1 {
  float: right;
  padding: 10px;
}
.col-my-right-12::after, .col-my-right-11::after, .col-my-right-10::after, .col-my-right-9::after, .col-my-right-8::after, .col-my-right-7::after, .col-my-right-6::after, .col-my-right-5::after, .col-my-right-4::after, .col-my-right-3::after, .col-my-right-2::after, .col-my-right-1::after {
  content: "";
  display: block;
  clear: both;
}

.col-my-right-1 {
  width: 8.3333333333%;
}

.col-my-right-2 {
  width: 16.6666666667%;
}

.col-my-right-3 {
  width: 25%;
}

.col-my-right-4 {
  width: 33.3333333333%;
}

.col-my-right-5 {
  width: 41.6666666667%;
}

.col-my-right-6 {
  width: 50%;
}

.col-my-right-7 {
  width: 58.3333333333%;
}

.col-my-right-8 {
  width: 66.6666666667%;
}

.col-my-right-9 {
  width: 75%;
}

.col-my-right-10 {
  width: 83.3333333333%;
}

.col-my-right-11 {
  width: 91.6666666667%;
}

.col-my-right-12 {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 900;
  text-align: center;
  width: 50%;
  display: block;
  padding: 40px;
  margin: 20px auto;
  border-width: 3px;
  border-color: #333;
  border-style: solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-text-fill-color: transparent;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #ef3139), to(#262524));
  background: linear-gradient(to right, #ef3139 0, #262524 100%);
  -pie-background: linear-gradient(to right, #ef3139, #262524);
  -webkit-background-clip: text;
  text-transform: uppercase;
  line-height: 1.28;
  padding-bottom: 33px;
}

.popup {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
}
.popup .textColor {
  color: #fafafa;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 80px;
  font-weight: 900;
  background: rgba(255, 255, 255, 0.2);
  padding: 15px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.displayNone {
  display: none;
}

.parentInputChooseColor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333;
  padding: 50px;
  margin: 20px auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.parentInputChooseColor input {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.parentInputChooseColor input::before {
  content: "click Hear";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  color: #fafafa;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  z-index: 1;
}
.parentInputChooseColor input:not([disabled]):hover::before {
  z-index: -1;
}
.parentInputChooseColor .result {
  width: 200px;
  height: 200px;
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #fafafa;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.parentInputChooseColor .result .copyColor {
  width: 100%;
  height: 100%;
  line-height: 180px;
  text-align: center;
  font-weight: 900;
  font-size: 40px;
  opacity: 0;
  cursor: pointer;
  z-index: -1;
}

.parentControls {
  margin-bottom: 60px;
}
.parentControls .controls {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  list-style: none;
}
.parentControls .controls li {
  display: inline-block;
  margin-left: -2px;
  margin-right: 2em;
}
.parentControls .controls .btnColor {
  width: 50px;
  height: 50px;
  font-weight: 900;
  font-size: 15px;
  border: 2px solid #ccc;
  margin-right: 0;
  cursor: pointer;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.parentControls .controls .btnColor:not([disabled]):hover {
  transform: scaleX(1.5);
  -webkit-transform: scaleX(1.5);
  -moz-transform: scaleX(1.5);
  -ms-transform: scaleX(1.5);
  -o-transform: scaleX(1.5);
  padding: 0 20px;
  margin: 0 20px;
}

.portfolio-item {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23%, 1fr));
}
.portfolio-item .single-item {
  height: 200px;
  cursor: pointer;
}
.portfolio-item .single-item .copyColor {
  width: 100%;
  height: 100%;
  line-height: 100px;
  text-align: center;
  display: block;
  font-weight: 900;
  font-size: 130%;
  opacity: 0;
  cursor: pointer;
  z-index: -1;
}