doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Color
        link(rel="shortcut icon" href="images/favicon.png" type="image/x-icon")
        link(rel="stylesheet" href="css/style.css")
    body 
        h1 Color global
        .mixitup
            .parentControls
                ul(class="controls")
                    li(class="mixitup-control-active btnColor All" id="white" data-filter="all") 
                    li(class=" btnColor" id="green"  data-filter=".green")
                    li(class=" btnColor" id="blue" data-filter=".blue")
                    li(class=" btnColor " id="red" data-filter=".red")
                    li(class=" btnColor" id="black" data-filter=".black")

            .portfolio-item#MixItUpA0184F
                div(class='single-item mix blue' data-color='#3498db')
                    span(class="copyColor") 
                div(class='single-item mix black' data-color='#333')
                    span(class="copyColor") 
                div(class='single-item mix red' data-color='#f00')
                    span(class="copyColor") 
                div(class='single-item mix green' data-color='#78e08f')
                    span(class="copyColor") 
                div(class='single-item mix green' data-color='#83c5be')
                    span(class="copyColor") 
                div(class='single-item mix green' data-color='#32ff7e')
                    span(class="copyColor")
                div(class='single-item mix green' data-color='#55efc4')
                    span(class="copyColor")
                div(class='single-item mix green' data-color='#00b894')
                    span(class="copyColor")
                div(class='single-item mix green' data-color='#81b29a')
                    span(class="copyColor")

















    script(src="js/jquery/jquery-3-6-0.min.js")
    script(src="js/mixitup/mixitup.min.js")
    script(src="js/plugin.js")